

h2 {
  margin-top: 30px;
}

.navbar-fixed-top {
  padding-top: 0px;
}

#main {
  margin-top: 86px;
}

p {
  margin-bottom: 20px;
}

/*Tablet Potrait*/
@media (min-width: 768px) {

  #topTitle {
    font-size: 68px;
  }

  #contact {
    padding-bottom: 600px;
  }

  .navbar-custom {
    background: black;
  }

  .navbar-custom a {
    color: white;
  }

  #moLogoImg {
    width: 90px;
    padding-bottom: 50px;
  }

  #contact {
    background: black;
    margin-top: 236px;
  }

  .navbar-custom.top-nav-collapse {
    background: black;
  }

  #text {
    padding-top: 50px;
    padding-left: 58px;
    padding-right: 58px;
    padding-bottom: 50px;
    box-shadow: none;
  }

  #pic {
    margin-top: 40px;
    width: 523px;
    height: 505px;
  }
}

/*override index css changing the text padding size*/
@media (min-width: 991px) and (max-width: 1023px) {
  #text {
    padding-bottom: 1190px;
  }
}

/*Tablet Landscape*/
@media (min-width: 1024px) {
 
  #moLogoImg {
    width: 90px;
    padding-bottom: 50px;
  }

  #topTitle {
    font-size: 78px;
  }

  #text {
    padding-bottom: 1190px;
  }

  #contact {
    padding-bottom: 300px;
  }
}

@media (max-width: 767px) {
 
  .navbar-custom a {
    color: white;
  }

  #text {
    padding-bottom: 20px;
  }

  #main {
    margin-top: 73px;
  }

  #nameTitle {
    color: white;
  }
}












