
/*got rid of hr but kept the spacing re-format later*/
hr{
 display: block;
    height: 1px;
    border: 0;
    border-top: 0px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#bottom-line {
  margin-top: 30px;
  margin-bottom: 44px;
}

a {
  text-decoration: none !important;
/*should add everywhere*/;
}

h1 {
  font-size: 68px;
  margin-bottom: 20px;
  text-transform: none;
/*override for small i*/;
}

h2 {
  margin-top: 30px;
}

.navbar-fixed-top {
  padding-top: 0px;
}

#main {
  margin-top: 86px;
}

p {
  margin-bottom: 20px;
}

#conceptpanel2 {
  padding-left: 0px;
  padding-bottom: 0px;
}

@media (min-width: 768px) {
 
  #instructions {
    margin-bottom: 30px;
  }

  #conceptpanel2 {
    padding-left: 0px;
    padding-bottom: 0px;
  }

  #conceptpanel {
    padding: 0px;
  }

  #conceptpanel:hover img {
    opacity: 0.9;
  }

  #conceptpanel2 img:hover {
    opacity: 1;
    transform: scale(1.01);
  }

  #contact {
    padding-bottom: 600px;
  }

  .navbar-custom {
    background: black;
  }

  .navbar-custom a {
    color: white;
  }

  #contact {
    background: black;
    margin-top: 236px;
  }

  .navbar-custom.top-nav-collapse {
    background: black;
  }

  #text {
    padding-top: 50px;
    padding-left: 58px;
    padding-right: 58px;
    padding-bottom: 50px;
    box-shadow: none;
  }

  #pic {
    width: 523px;
    height: 505px;
  }
}

/*to deal with index css temporarily, removes "glitch"*/
@media (min-width: 991px) and (max-width: 1023px) {
  #text {
    padding-bottom: 1840px;
  }
}

@media (min-width: 1024px) {
 

  #text {
    padding-bottom: 1840px;
  }

  #contact {
    padding-bottom: 300px;
  }
}

@media (max-width: 767px) {
 

  .navbar-custom a {
    color: white;
  }

  #text {
    padding-bottom: 20px;
  }

  #main {
    margin-top: 73px;
  }

  #nameTitle {
    color: white;
  }

  h1 {
    font-size: 36px;
  }
}